*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clr{
    clear: both;
}
header,nav,footer {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}
#right,#left{
    height: 700px;
    width: 20%;
    border: 1px solid black;
    text-align: center;
    float: left;
}
#main{
    height: 700px;
    width: 60%;
    border: 1px solid black;
    text-align: center;
    float: left;
}
